.message {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;

  width: auto;
  max-width: 66vw;
  height: fit-content;
  margin: 4px 10px;
  gap: 15px;
  overflow-wrap: break-word;
  overflow: hidden;
  padding: 2px 2px;
  /* margin-bottom: 2px; */
}

.message_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message_header_left {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.message_header_right {
  display: flex;
  flex-direction: row;
  /* gap: ; */
}

.username {
  color: #7e63e0;
}
.message_time {
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-size: 10px;
  color: #d1d1d1b8;
}

.curr_message {
  background-color: #535558;
  border-radius: 4px;
}

.message_content {
  overflow-wrap: break-word;
  min-width: 300px;
  width: 100%;
  max-width: 60vw;
  padding-bottom: 8px;
  /* border: 2px solid red; */
}
.message_content_message_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
.message_content_content {
  overflow-wrap: break-word;
  min-width: 300px;
  width: 100%;
  max-width: 60vw;
  padding-bottom: 8px;
  /* border: 2px solid red; */
}

.message_content_edited_message {
  font-size: 10px;
}

.message_more {
  width: auto;
  height: min-content;
  width: min-content;
  position: relative;
  height: 100%;
  top: 0px;
  right: 0px;
  /* margin-right: 10px; */
}
