.message {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;

  width: auto;
  height: auto;
  margin: 0 10px;
  gap: 15px;
  overflow-wrap: break-word;
  overflow: hidden;
  padding: 2px 2px;
}

.curr_message {
  background-color: #535558;
  border-radius: 4px;
}
.username {
  color: #7e63e0;
}
.message_content {
  overflow-wrap: break-word;
  min-width: 300px;
  width: 100%;
  max-width: 60vw;
  /* border: 2px solid red; */
}

.message_more {
  width: auto;
  height: min-content;
  width: min-content;
  margin-right: 10px;
}
