.chat_input {
  width: 92.5%;
  flex-shrink: 0;
  min-height: 40px;
  height: fit-content;
  max-height: 70px;
  margin-top: 4px;
  margin-bottom: 20px;
  align-self: center;
  padding-left: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #40444b;
  border-radius: 5px;
  overflow: auto;
}

.chat_form_input {
  background-color: #40444b;
  border-style: none;
  outline: none;
  color: inherit;
  border-radius: 5px;
}
