.chat_input {
  width: 92.5%;
  position: relative;
  bottom: 20px;

  height: auto;
  min-height: 30px;
  max-height: 40px;
  align-self: center;
  padding-left: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #40444b;
  border-radius: 5px;
  overflow: auto;
}

.chat_form_input {
  background-color: #40444b;
  border-style: none;
  outline: none;
  color: inherit;
  border-radius: 5px;
}
