.all_servers_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.all_servers_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 340px;
}
.all_servers_header_pic {
  width: 97%;
}
.header_text {
  position: relative;
  z-index: 20;
  text-align: center;
  top: -280px;
}
.featured {
  margin-left: 30px;
  margin-top: -90px;
}
.all_servers_map {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px 0 30px;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.all_servers_container::-webkit-scrollbar {
  width: 8px;
  background-color: #2e3338;
  border-radius: 12px;
}

.all_servers_container::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.all_servers_container::-webkit-scrollbar-corner {
  background-color: transparent;
}

.all_servers_container::-webkit-scrollbar-thumb {
  background-color: #202225;
  border: 2px solid #282a2d;
  border-radius: 10px;
}

.singular_server {
  background-color: #292b2f;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.server_pics {
  height: 100px;
  width: 100px;
}

.server_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.server_topic {
  margin: 10px 0 0 0;
}

.server_description {
  margin: 10px 10px;
}

.members_length {
  margin: 0;
}

.join_server_button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 20px;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #3aa65d;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 4px 8px;
}

.joined_all_msg {
  margin-left: 30px;
  width: fit-content;
}
