.channels_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.channels {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 240px;
  justify-content: center;
  align-items: center;
}

.channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 4px;
  text-overflow: clip;
}

.channel_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.channel_name_pound {
  height: min-content;
}

.channel_name {
  text-overflow: ellipsis;
}

.channel_right {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.direct_message_icon {
  height: 40px;
  border-radius: 100%;
}

.hover_channel {
  background-color: #36393f;
  color: white;
  border-radius: 4px;
}
.active_channel {
  background-color: #535558;
  color: white;
  border-radius: 4px;
}
