#root {
  width: 100%;
  height: 100%;
  max-width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  background-color: #36393f;
  margin: 0 0;
  overflow-x: hidden;
  color: #ffffffb8;
  font-family: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

.logged_app {
  display: flex;
  width: 100%;
  height: 100%;
}

a {
  color: #8e9297;
  text-decoration: inherit;
}
