.edit_channel_modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #36393f;
  overflow: hidden;
}
.container_for_options {
  display: flex;
  width: 35vw;
  background-color: #2f3136;
  justify-content: flex-end;
}
.edit_options {
  margin: 60px 20px 10px 10px;
  display: flex;
  flex-direction: column;

  height: 100%;
}
.channel_edit_name {
  padding-left: 10px;
  padding-right: 10px;
}
.channel_edit_overview_left {
  padding-left: 10px;
  padding-right: 10px;
}

.delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.delete:hover {
  background-color: #535558;
  border-radius: 4px;
  cursor: pointer;
}

.info {
  width: fit-content;
}

.overview_container {
  height: 100%;
  width: fit-content;
  margin: 60px 10px 10px 10px;
  padding-left: 20px;
}

.overview {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
  border-bottom: 2px solid #575a61;
  gap: 16px;
}
.overview_title {
  color: #ffffff;
}
.esc_x_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  height: fit-content;
  position: sticky;
  top: 70px;
}
.esc_x {
  border: 2px solid #575a61;
  padding: 6px 6px;
  border-radius: 100%;
  cursor: pointer;
}
.esc {
  margin: 0 10px;
  font-size: 12px;
}

.edit_channel_name {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
}

.channel_name {
  background-color: #202225;
  color: #dcddde;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  padding-left: 6px;
  padding: 8px 0px 8px 4px;
}

.require_save_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  margin-top: 30px;
  background-color: #222527;
  border-radius: 5px;
  color: #ffffff;
}

.require_save_message {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 0 10px;
}
.combine_-- {
  display: flex;
  flex-direction: row;
  gap: -10px;
}

.left- {
  margin-right: -0.5px;
}
.right- {
  margin-left: -0.5px;
}

.save_reset_btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 10px;
  align-items: center;
}

.reset:hover {
  color: red;
}

.save {
  background-color: #2e7d46;
  border-radius: 5px;
  padding: 5px 12px;
}
.save.active_save:hover {
  background-color: #33c45e;
}
