.message_pfp {
  height: 45px;
  width: 45px;
  border-radius: 100%;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.all_messages {
  height: 90%;
  overflow-y: auto;
}
