.left_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 72px;
  background-color: #202225;
}

/* .left_nav {
  width: 72px;
  display: flex; */
/* } */

.left_side_icon {
  height: 48px;
  width: 48px;
  border-radius: 100%;
}
